<%= form_for recipe do |f|%>
  <p>
    <b>Recipe Name</b>
    <%= f.text_field :name %>
  </p>
  <%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) %>
  <p>
    <%= f.submit %>
  </p>
<%end%>
