<%= form_for @recipe do |f| %>
  <p>
    <b>Recipe name</b><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
