

	<% if @recipes.errors.any? %>
   
      <h2><%= pluralize(@recipes.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    
  	<% end %>