<h4>Recipe Name: <%= recipe.name %></h4>
Ingredients: 
<ul>
  <% recipe.recipe_ingredients.each do |item| %> 
    <li><%= item.ingredient_name %><%= ", #{item.quantity}" if item.quantity %></li>
    
  <% end %> 
</ul>
<p><%= link_to "Edit Recipe", edit_recipe_path(recipe) %></p>