<h1>Edit recipe</h1>
<%= form_for @recipe do |f| %>
  <p>
    <b id="edit_recipe">Recipe name</b><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%#= render partial: "form", locals: {recipe: @recipe} %>
