<h1>Edit Recipe</h1>
<%= render partial: 'form', locals: {recipe: @recipe} %>
<br /><br />
<%= link_to "back", recipes_path %> |
<%= link_to "delete", @recipe, method: :delete,
                                   data: { confirm: "You sure?" } %>
