<h1>Edit Recipes Here </h1>

<!-- <%= render partial: 'form', locals: {recipe: @recipe} %> -->

<%= render 'form' %>
<!-- <%= link_to 'Destroy', @recipe, method: :delete, data: {confirm: 'Are you Sure?'} %> -->
