<h1>Flatiron Kitchen Recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe_path(recipe) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a Recipe", new_recipe_path %>
