<h1>New Recipe</h1>

<%= render 'form' %>

<%= link_to 'Back', recipes_path %>
<br></br>
<h3>Recipes: </h3>
<% @recipes.each do |recipe| %>
<%= render partial: 'recipes', locals: {recipe: recipe} %>
<% end %>




