<h1>Create New Recipe</h1>

<%= form_for @recipe, id: 'new_recipe' do |f| %>

  <%= render partial: "ingredients/form", locals: {f: f} %>

  <%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) %><br>

  <%= f.submit %>

<% end %>
