<h2>Let's Create a new Recipe</h2>
<iframe src="//giphy.com/embed/bsOYANBA6gmTS" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<%= form_tag recipes_path, method: "post" do %>
	<%= render partial: "form", locals: {recipe: @recipe, ingredients: @ingredients} %>
<% end %>