<form id=new_recipe>
    <%= render partial: 'form', locals: {recipe: @recipe} %>
</form>

<%= form_for @recipe do |f|  %>
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name%>
    <%= f.submit %>
<% end %>
