<h1><%= @recipe.name %></h1><br>

<h3>Ingredients:</h3><br>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
  <% end %>
</ul>
