<div class="container">
    <h1><%=@recipe.name%></h1>
    <h3>Ingredients:</h3>
    <ul>
        <%@recipe.ingredients.each do |ingredient|%>
            <li><%= link_to  "#{ingredient.name}", ingredient_path(ingredient) %></li>
        <%end%>
    </ul>
</div>
