<<<<<<< HEAD
<h2><%= render partial: 'recipe', locals: {recipe: @recipe} %></h2>

<br>Ingredients:
<ul>
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= render :partial => 'ingredients/ingredient', locals: {ingredient: ingredient} %></li>
<% end %>
</ul>
=======
show recipe

<%= render partial: 'recipe', locals: {recipe: @recipe} %>
>>>>>>> 1f7182da6f3edfa71386dbc2b7870e2f52922318
