<h1>Recipe For <%= @recipe.name %></h1>

<h2>Ingredients</h2>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
      <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
    <%end%>
  </ul>
