<h1><%= @recipe.name %></h1>
<h2>Ingredients:</h2>
<ul>
  <% @recipe.ingredients.each do |i| %>
  <li><%= link_to i.name, ingredient_path(i) %></li>
  <% end %>
</ul>
<br>
<%= link_to "Edit", edit_recipe_path(@recipe) %>
