<h1>Listing information on recipe <%= @recipe.name %></h1>
<% if @recipe.ingredients.any? %>
  <p>Includes the following ingredients:</p>
   <% @recipe.ingredients.each do |ingredient| %>
    <ul>
      <li><%= link_to ingredient.name, ingredient %></li>
    </ul>
  <% end %>
<% end %>

