<h2> <%= @recipe.name %></h2>

<h3>Ingredients</h2>

<ul>
   
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= "#{ingredient.name} X #{ingredient.quantity}" %></li>
<% end %><br>

<%= link_to 'Edit', edit_recipe_path %> |
<%= link_to 'New', new_recipe_path %> |
</ul>