<h2><%= @recipe.name %></h2>

<h3>Ingredients:</h3>

<ul>
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= link_to ingredient.name, ingredient %></li>
<% end %>
</ul>

<p>
  <%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %>
</p>
