<h2> Recipe with Ingredients </h2>

<%= @recipe.name %>
<br />

<% @recipe.ingredients.each do |ingredient| %>
	<ul>
	<li><%= ingredient.name %> </li>
	</ul> 

	<% end %>

<%=@recipe.ingredients.count %>
<%= link_to 'Edit', edit_recipe_path %>

