<p>
  <h2><%= @recipe.name %></h2>
  
  
  <h3>Ingredients:</h3>
    <ul>
      <% @recipe.ingredients.each do |ingr| %>
      <li><%= ingr.name %></li>
      <% end %>
    </ul>
</p>

<%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %>
<%= link_to 'Back', recipes_path %>