<%= form_for(ingredient) do |f| %>
    <div class="field">
      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
