<h1>Hey Everybody, It's Time For Ingredients!!!!!</h1>

  
  <div class="ingredient_name">
    <h4><%= @ingredient.name %></h4>
  </div>

  <%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
  <%= link_to 'Back', ingredients_path %>
