<% if @ingredient.errors.any? %>
  <div id="error_explanation">
    Ingredient could not be updated because of the following error(s):
    <ul>
      <% @ingredient.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2>Edit Ingredient</h2>
<%= render partial: 'form', locals: {ingredient: @ingredient} %>