<h1>All Ingredients</h1>
<div>
    <ul>
        <%@ingredients.each do |ingredient|%>
            <li><%= link_to  "#{ingredient.name.capitalize}", ingredient_path(ingredient) %> - used in <%=ingredient.recipes.size%> recipe(s)</li>
        <%end%>
    </ul>
</div>
