<h1>Ingredients</h1>
<%= link_to 'Add a new ingredient', new_ingredient_path %>
<p><% @ingredients.sort_by {|i| i.name}.each do |ingredient| %>
  <%= link_to ingredient.name, ingredient_path(ingredient) %><br>
<% end %>
