<h2>Available Ingredients</h2>
<ul>
  <% @ingredients.each do |i| %>
    <li><b><%= link_to i.name, ingredient_path(i) %></b></li>
    <%= render partial: "quantity", locals: {ingredient: i} %>
  <%end%>
</ul>
