<h1><%= @ingredient.name %></h1>

<!-- <%= link_to "Edit Ingredient", edit_ingredient_path(@ingredient) %> ||
<%= link_to "Index", ingredients_path(@ingredients) %> ||
<%= link_to "Create New", new_ingredient_path(@ingredient) %> -->
