<p>
<%= render partial: 'ingredient', locals: {ingredient: @ingredient} %>
</p>

<p>
<%= link_to 'Edit Ingredient', edit_ingredient_path(@ingredient) %>
</p>
<%= link_to 'Ingredients List', ingredients_path %>
