<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ingredient</title>
  </head>
  <body>
    <h2> Ingredient </h2>
      <%= @ingredient.name%>

    <h3> Recipes </h3>
      <ul>
        <% @ingredient.recipes.each do |r| %>
          <li> <%=link_to r.name, recipe_path(r) %> </li>
        <% end %>
      </UL>
  </body>
</html>
