<h1>Recipe Home Page</h1>

<p>
  <%= link_to "New Recipe", new_recipe_path %> |
  <%= link_to "New Ingredient", new_ingredient_path %>
</p>

<p>
  <%= link_to "All Recipes", recipes_path %> |
  <%= link_to "All Ingredients", ingredients_path %>
</p>
