html {
    background: url("Food%20Pic,%20Artsy.jpg") left top repeat;
}

nav {
    text-align: center;
    padding: 1em;
    font: bold 2em Georgia, serif;
    color: white;
}

a {
    text-decoration: none;
    color: greenyellow;
}

a:hover {
    color: antiquewhite;
}

.container {
    text-align: center;
    padding: 2em;
    font: Georgia, serif;
    color: white;
}

li {
    list-style-type: none;
}

div.ingredient-list {
    color: white;
    font-size: bold;
}

