.main-menu { 
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li { 
  display: inline-block;
  padding: 5px 10px 0 0;
  margin: 0;
}

.main-menu a {
  text-decoration: none;
  color: blue;
}

.main-menu a:visited {
  color: blue;
}