<h1>Welcome to Flatiron Kitchen!</h1>
<h3>What would you like to do?</h3><br>
<h2>Recipes</h2>
<%= link_to "Create a new recipe", new_recipe_path %><br>
<%= link_to "View all recipes", recipes_path %><br>
<h2>Ingredients</h2>
<%= link_to "Add a new ingredient", new_ingredient_path %><br>
<%= link_to "Check pantry stock", ingredients_path %>
