<h1>Welcome to the FlatIron Kitchen!</h1>
<h3>What would you like to do?</h3>

<h2>Recipes</h2>
<%= link_to "Create a New Recipe", new_recipe_path %> <br>
<%= link_to "View all of our recipes", recipes_path %>

<h2>Ingredients</h2>
<%= link_to "Add a new ingredient", new_ingredient_path %> <br>
<%= link_to "Check the Pantry Stock", ingredients_path %>
