<h1>Recipe APP</h1>
<nav><ul>
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "New Recipe", new_recipe_path %></li>
	<li><%= link_to "New Ingredient", new_ingredient_path %></li>
</ul></nav>
<hr>