<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
<a href="../">Home</a>
<a href="../recipes">All Recipe</a>
<a href="../recipes/new">New Recipe</a>
<a href="../ingredients">All Ingredients</a>
<a href="../ingredients/new">New Ingredient</a>
</nav>

<h1>Flatiron Chef</h1>

<%= yield %>

</body>
</html>
