<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar">
    <a href="/recipes/new" class="button">New Recipe</a>
    <a href="/recipes" class="button">Recipes</a>
    <a href="/ingredients/new" class="button">New Ingredient</a>
    <a href="/ingredients" class="button">Ingredients</a>

  </div>

<%= yield %>

</body>
</html>
