<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navigation">
      <ul>
        <a href="/recipes">All Recipes</a>
        <a href="/ingredients">All Ingredients</a>
      </ul>
    </div>

<%= yield %>

</body>
</html>
