<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Welcome to Flatiron Kitchen</h1>
<div class="navbar">
	<a href="/index">Home</a>
	<a href="/recipes">Recipes</a>
	<a href="/recipes/new">Add Recipes</a>
	<a href="/ingredients">Ingredients</a>
	<a href="/ingredients/new">Add Ingredients</a>
</div>
<br>
<%= yield %>

</body>
</html>
